@import "./commons.scss";

.SideBarMenu{
    background-color: #425563;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    

    @include transition(width);

    &.expanded {
        width: 250px;
    }

    &.collapsed {
        width: 55px;
    }

    .menuButton {
        display: flex;
        justify-content: flex-end;       

        .hamburgerIcon {
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: white;
            padding: 10px;
            width: 68px;
        }
    }
}
