@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



#contenedor {
  padding-left: 55px;
  padding-right: 0px;
}


#register {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  
  min-height: 600px;
  max-height: 600px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
}

#register_r {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  min-height: 895px;
  max-height: 895px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 15px;
}

#register2 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
  min-height: 720px;
  max-height: 720px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
  margin-bottom: 0px;
}

#register2_r {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
  min-height: 930px;
  max-height: 930px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
}

#register2_r2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
  min-height: 1150px;
  max-height: 1150px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
}

.user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.user-details{
  max-height: 300px;
  overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
  width: 5px;
}

#perfil {
  width: 50%;

  margin-left: auto;
  margin-right: auto;

  height: 370px;

  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
  margin: 0 auto;
}

#perfil_responsive {
  width: 70%;

  margin-left: auto;
  margin-right: auto;

  height: 500px;
  margin-top: 50px;

  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
  margin-bottom: 0;
}

#fila_perfil {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

#columna_perfil {
  justify-content: center;
  align-items: center;
  height: 435px;
  width: 100%;
  margin: 0 auto;
}

#perfil_user {
  width: 35%;
  margin-left: 32px;
  margin-right: 32px;
  font-family: 'Roboto', sans-serif;
}

#perfil_user_responsive {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

#columna {
  padding-left: 0;
  padding-right: 0;
}

#logo {
  margin-left: 75px;
}

#logo2 {
  margin-left: 10px;
}

/* #button_cursor{
  background:none;
  border:none;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;
} */

#header {
  height: 65px;
  background-color: #425563;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#header_principal {
  background-color: white;
  color: white;
  height: 100px;
}

#header_tittle {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-size: 30px;
}
#text {
  font-size: 16px;
}

#espacio {
  height: 5vh;
}




#boton_registrar{
  width: 100%;
  background-color: #003057 !important;
  color: #FFF;
  border-color: #003057 !important;
  display: auto;
  align-content: center;
  justify-content: center;
  margin-top: 56px;
}

#boton_registrar_r{
  width: 100%;
  background-color: #003057 !important;
  color: #FFF;
  border-color: #003057 !important;
  display: auto;
  align-content: center;
  justify-content: center;
}

#contenedor_boton{
  display: auto;
  align-content: center;
  justify-content: center;
  width: 30%;
}

#contenedor_boton_responsive{
  display: auto;
  align-content: center;
  justify-content: center;
  width: 90%;
}

#contenedor_descripcion{
  display: auto;
  align-content: center;
  justify-content: center;
  width: 75%;
  height: 120px;
  margin-top: 35px;
  padding: 0px;
}

.form__error {
  margin: 0.5rem;
  color: red;
  }

#registrar{
  width: 100%;
}

#select {
  width: 30%;

}

#fila {
  display: flex;
  justify-content: center;
  height:122px;
}

#col {
  width: 100%;
  height: 232px;
  margin: 0 auto;
}

#col2 {
  width: 100%;
  height: 116px;
  margin: 0 auto;
}

#fila2 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 32px;
}

#fila_unidad {
  width: 100%;
  padding-top: 3px;
}

/*Contenedores de izquierda y derecha para la vista de registros*/
#register_user {
  padding-top: 40px;
  width: 35%;
  margin-left: 32px;
  margin-right: 32px;
  font-family: 'Roboto', sans-serif;
}

#register_user_responsive {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 116px;
  margin: 0;
}

#fila2_p {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 32px;
}

#fila_unidad_p {
  width: 100%;
  padding-top: 3px;
}

/*Contenedores de izquierda y derecha para la vista de registros*/
#register_product {
  padding-top: 40px;
  width: 35%;
  margin-left: 32px;
  margin-right: 32px;
  font-family: 'Roboto', sans-serif;
}

#register_product_responsive {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 116px;
  margin: 0;
}

.col {
  height: 560px;
}










/*Estilo de los enunciados de datos de usuario y contacto de emergencia*/
#sub_theme {
  font-size: 15px;
  color: #000000;
  margin-left: 5px;
}

/*Formularios para espaciados entre filas y también el máximo de los formularios*/
.form-group {
  margin-bottom: 30px;
}

.form-group-mini {
  margin-bottom: 10px;
}

.form-group-max {
  margin-bottom: 80%;
}

.form-control {
  width: 600px;
}

.row-bottom-margin {
  margin-bottom: 40px;
}

/*Espacio para las indicaciones de rut o pasaporte*/
.space {
  margin-left: 30%;
}

/*Selección personificada*/
select {
  background-image: linear-gradient(45deg, transparent 50%, #425563 60%), linear-gradient(135deg, #425563 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 21px) 14px, 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*Colores de la página*/
.perma_container {

  background: rgb(10,97,188);
  background: linear-gradient(90deg, rgba(10,97,188,1) 5%, rgba(63,179,236,1) 25%);
  height: 70px;
}

#header_color {
  color: #006ce5;
}


/*Botón de registrar*/
.btn-primary {
  width: 30%;
  background-color: #006ce5 !important;
  color: #FFF;
  border-color: #3d8af7 !important;
}
